{% macro gen(item) %}
<div class="hot-user">
    <div class="user-head m-profile">
        <div class="user-info">
            <a data-stat="member_more_userinfo" class="author" href="/m/profile?uid={{ item.uid }}&popup=1&need_zinfo=1&navTitle=个人主页">
                <div class="avatar lazy" data-src="{{ item.avatarUrl }}">
                    {% if item.verifyUrl %}
                    <i class="icon verify lazy" data-src="{{ item.verifyUrl }}"></i>
                    {% endif %}
                </div>
                <div class="info-block">
                    <div class="username">
                        <div class="name">{{ item.username }} </div>
                        <label class="tag">{{item.tag}}</label>
                    </div>
                    {% if item.lastThread %}
                    <div class="info recommend-info">
                        <label class="recommend-value">{{item.lastThread}}</label>
                    </div>
                    {% endif %}
                    <div class="info">
                        <label class="recommend-value">{{ item.fansCount }}人关注了TA</label>
                    </div>
                </div>
            </a>

        </div>
        <div data-stat="member_more_follow" class="js-follow btn-follow {{ 'followed' if post.isFollow  }}" data-uid="{{ item.uid }}">
            <i class="icon-plus"></i>
        </div>
    </div>
</div>
{% endmacro %}
{% for item in users %}
{{ gen(item) }}
<div class="line"></div>
{% endfor %}
