<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    {% set pageTitle = '赞' %}
    {% include "../../partial/header.html" %}
</head>
<body>
{% if items.length > 0 %}
<div class="js-list m-list" data-count="{{ items.length }}">
    {% include "./tpl/item.html" %}
</div>
{% endif %}

{% if items.length == 0 %}
<div class="m-empty">
    <i class="icon icon-empty"></i>
    <p>暂时还没有点赞哦~</p>
</div>
{% elif type == 'error' %}
<div class="m-empty">
    <i class="icon icon-error"></i>
    <p>{{ error }}</p>
</div>
{% endif %}
</body>
</html>
