{% for fav in posts %}
		<div class="recommend-post bg-white js-recommend-post ">
			    <a href="{{fav.url}}">
			        <div class="r-post-content">
			            <div class="post-content">
			                <div class="post-title line-clamp-{{ fav.lineClamp }}">{{fav.title}}</div>
			            </div>

			            {% if fav.picture %}
			            <div class="image">
			                <div class="cover lazy"  data-src="{{ fav.picture }}"> </div>
			            </div>
			            {% endif %}

			            <div class="r-post-bottom">
				            <span>回复 {{fav.replies}}</span>
				            <span>赞 {{fav.likes}}</span>
				        </div>
			        </div> 
			    </a>
			</div>
			<div class="line"></div>
{% endfor %}